<h1>Listing marcas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @marcas.each do |marca| %>
  <tr>
    <td><%= marca.nome %></td>
    <td><%= link_to 'Show', marca %></td>
    <td><%= link_to 'Edit', edit_marca_path(marca) %></td>
    <td><%= link_to 'Excluir', marca, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Marca', new_marca_path %>
