= semantic_form_for(@postousuario) do |f|
    = f.input :notaatendimento , :label => 'Notaatendimento'
    = f.input :notageral , :label => 'Notageral'
    = f.input :postocombustivel , :label_method => :nome , :label => 'Postocombustivel'
    = f.input :usuario , :label_method => :login , :label => 'Usuario'
    = f.submit 'Salvar'

 
