= semantic_form_for(@usuario) do |f|
    = f.input :nome , :label => 'Nome'
    = f.input :endereco , :label => 'Endereço'
    = f.input :telefone , :label => 'Telefone'
    = f.input :email , :label => 'Email'
    = f.input :login, :label => 'Login'
    = f.submit 'Salvar'

